/* 
selector {
  property; value;
}
*/

header {
  background: url("img/kw.jpg");
  width: 100%;
  padding: 50px;
  text-align: center;
  background-size: cover;
}

header h1 {
  color: #00802b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  text-align: center;
}
  

